header {
  height: 50px;
  position: relative;
  top: 0;
  opacity: 0.8;
  backdrop-filter: blur(30px);
  background-color: blue;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
header > a {
  color: wheat;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
}
.topcontentwrap {
  position: relative;
}
.titlewrap{
  font-size:20px;
}
img{
  padding: 30px
  display: inline-block;
  width: 400px;
}
.infowrap{
}

.infotable{  
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 3px solid #369;
  margin : 20px 10px;
}
th{
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
td{
  width: 349px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.overviewWrap{
  position: absolute;
  top: 0px;
  display: inline-block;
  float: right;
}
