header {
  height: 50px;
  position: sticky;
  top: 0;
  opacity: 0.8;
  backdrop-filter: blur(30px);
  background-color: blue;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
a{
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  }
      
li {
  display: inline-block;
  margin-left: 16px;
  font-size: 18px;
  font-weight: bold;
  }
      
html {
  height: 200%;
  line-height: 1.6;
  }
body{
  height: 100%;
}
section{
  height: 100%;
}
article{
  display: block;
  height: 50%;
  width: auto;
  text-align: center;
}
article.art1 {
  background-image: url("../image/bg1.jpg");
  background-size: 100%;
}
.imagewrap {
  display: flex;
  height: 100%;
  width: 100%;
}
.imagewrap > span {
  height: 100%;
  width: auto;
  flex: 1;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  transition:all 1s;  
}

.imagewrap > span:nth-child(1){background:url("../image/bg2.jpg") no-repeat center / cover;}
.imagewrap > span:nth-child(2){background:url("../image/bg3.jpg") no-repeat center / cover;}
.imagewrap > span:nth-child(3){background:url("../image/bg4.jpg") no-repeat center / cover;}
.imagewrap > span:nth-child(4){background:url("../image/bg5.jpg") no-repeat center / cover;}
.imagewrap > span:hover {flex:2;}
.imagewrap > span:not(:hover) {flex:0.7 ;}

.bcat1 {
  background-color: greenyellow;
  height: 30%;
  display: none;
  position: relative;
  text-align: center;
  font-size: 30px;
  transition: all 0.5s ease-in;
  box-shadow: 1px 1px 3px 1px rgb(87, 130, 22);
}
.bcat1:hover {
  box-shadow: none;
  transition: none;
}

.mcat {
  background-color: salmon;
  display: none;
}

.search {
  position: relative;
  width: 300px;
}

.art1 > input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.art1 > img {
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
}