<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <header class="Header">
            <h1><a href="#/">C&I</a></h1>
            <nav>
                <ul>
                    <li><a>About</a></li>
                    <li><a>Help</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <article class="art1"></article>
            <article class="art2"></article>
        </section>
    </body>
</html>