<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <script>
      window.onbeforeunload = function () {
        window.scrollTo(0, 0);
      };

      function callAPI(arg1, arg2, agr3){

        var xhr = new XMLHttpRequest();
        var url = "{% url 'Class_result/' %}?big=" + arg1 + "&mid=" + arg2 + "&small=" + arg3;
        xhr.open("GET", url);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                // 응답 처리
                console.log(response);
            }
        };
        xhr.send();
      }
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}?after"
    />
  </head>
  <body>
    <header class="Header">
      <h1><a href=" ">C&I</a></h1>
      <nav>
        <ul>
          <li><a>About</a></li>
          <li><a>Help</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <article class="art1">
        <div class="logowrap">
          <div id="logo" class="logo_default">
            <div>문득</div>
            <div>여행을</div>
            <div>떠나고 싶을때</div>
          </div>
        </div>
        {% include "tourapp/searchbar.html" %}
      </article>
      <article class="art2">
        <div class="imagewrap">
          <span id="span1" class="span1">
            <div>
              <div id="bcat1" class="bcat1">
                🌳자연🌳
                <div id="mcat" class="mcat" onclick = "callAPI('A01', 'A0101', '')">자연관광지</div>
                <div id="mcat" class="mcat">관광자원</div>
              </div>
            </div> </span
          ><!--
                 --><span id="span1" class="span1">
            <div>
              <div id="bcat1" class="bcat1">
                📚인문📚
                <div id="mcat" class="mcat">역사</div>
                <div id="mcat" class="mcat">휴양</div>
                <div id="mcat" class="mcat">체험</div>
                <div id="mcat" class="mcat">산업</div>
                <div id="mcat" class="mcat">건축</div>
                <div id="mcat" class="mcat">문화시설</div>
                <div id="mcat" class="mcat">축제</div>
                <div id="mcat" class="mcat">공연</div>
              </div>
            </div> </span
          ><!--
                 --><span id="span1" class="span1">
            <div>
              <div id="bcat1" class="bcat1">
                🏌레저 스포츠🏌
                <div id="mcat" class="mcat">육상</div>
                <div id="mcat" class="mcat">수상</div>
                <div id="mcat" class="mcat">항공</div>
                <div id="mcat" class="mcat">복합</div>
              </div>
            </div> </span
          ><!--
                 --><span id="span1" class="span1">
            <div>
              <div id="bcat1" class="bcat1">
                🍽음식🍽
                <div id="mcat" class="mcat">한식</div>
                <div id="mcat" class="mcat">양식</div>
                <div id="mcat" class="mcat">일식</div>
                <div id="mcat" class="mcat">중식</div>
                <div id="mcat" class="mcat">이색음식</div>
                <div id="mcat" class="mcat">카페</div>
              </div>
            </div>
          </span>
        </div>
      </article>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
