<!DOCTYPE html>
{% load static %}
<html lang="ko">
  <head>
    <script>
      window.onbeforeunload = function () {
        window.scrollTo(0, 0);
      };
      function Class_send(big, mid, small) {
        var url =
          "/Class_result/?big=" + big + "&mid=" + mid + "&small=" + small;
        window.location.href = url;
      }
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %}?after"
    />
  </head>
  <body>
    <header class="Header">
      <h1><a href=" ">C&I</a></h1>
      <nav>
        <ul>
          <li><a>About</a></li>
          <li><a>Help</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <article class="art1">
        <div class="logowrap">
          <div id="logo" class="logo_default">
            <div>문득</div>
            <div>여행을</div>
            <div>떠나고 싶을때</div>
          </div>
        </div>
        {% include "tourapp/searchbar.html" %}
      </article>
      <article class="art2">
        <div class="imagewrap">
          <span id="span1" class="span1">
            <div>
              <div id="bcat1" class="bcat1">
                🌳자연🌳
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A01', 'A0101', 'A01010100')"
                >
                  국립공원
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A01', 'A0101', 'A01010400')"
                >
                  산
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A01', 'A0101', 'A01010500')"
                >
                  자연생태관광지
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A01', 'A0101', 'A01010600')"
                >
                  자연휴양림
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A01', 'A0101', 'A01010900')"
                >
                  계곡
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A01', 'A0101', 'A01011100')"
                >
                  해안절경
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A01', 'A0101', 'A01011200')"
                >
                  해수욕장
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A01', 'A0102', 'A01020200')"
                >
                  기암괴석
                </div>
              </div>
            </div> </span
          ><!--
                 --><span id="span1" class="span1">
            <div>
              <div id="bcat1" class="bcat1">
                📚인문📚
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A02', 'A0201', '')"
                >
                  역사
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A02', 'A0202', '')"
                >
                  휴양
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A02', 'A0203', '')"
                >
                  체험
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A02', 'A0204', '')"
                >
                  산업
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A02', 'A0205', '')"
                >
                  랜드마크
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A02', 'A0206', '')"
                >
                  문화시설
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A02', 'A0207', '')"
                >
                  축제
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A02', 'A0208', '')"
                >
                  공연/행사
                </div>
              </div>
            </div> </span
          ><!--
                 --><span id="span1" class="span1">
            <div>
              <div id="bcat1" class="bcat1">
                🏌레포츠🏌
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A03', 'A0302', '')"
                >
                  육상
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A03', 'A0303', '')"
                >
                  수상
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A03', 'A0304', '')"
                >
                  항공
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A03', 'A0305', '')"
                >
                  복합
                </div>
              </div>
            </div> </span
          ><!--
                 --><span id="span1" class="span1">
            <div>
              <div id="bcat1" class="bcat1">
                🍴음식🍴
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A05', 'A0502', 'A05020100')"
                >
                  한식
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A05', 'A0502', 'A05020200')"
                >
                  양식
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A05', 'A0502', 'A05020300')"
                >
                  일식
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A05', 'A0502', 'A05020400')"
                >
                  중식
                </div>
                <div
                  id="mcat"
                  class="mcat"
                  onclick="Class_send('A05', 'A0502', 'A05020700')"
                >
                  이색식당
                </div>
              </div>
            </div>
          </span>
        </div>
      </article>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
