<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header class="Header">
            <h1><a href=" ">C&I</a></h1>
            <nav>
                <ul>
                    <li><a>About</a></li>
                    <li><a>Help</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <article class="art1">a</article>
            <article class="art2">
                <div class="imagewrap">
                    <span id="span1" class="span1"><div>관광지<div id="bcat1" class="bcat1">대분류</div></div></span><!--
                 --><span id="span2" class="span2"><div>문화시설<div id="bcat2" class="bcat2">대분류?</div></div></span><!--
                 --><span id="span3" class="span3"><div>여행코스<div id="bcat3" class="bcat3">대분류.</div></div></span><!--
                 --><span id="span4" class="span4"><div>음식점<div id="bcat4" class="bcat4">대분류!</div></div></span></div>
            </article>
        </section>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>